body {
  background-color: rgb(137, 207, 243);
  text-align: center;
  color: rgb(0, 169, 255);
}


#myCanvas {
  background-image: url("https://cdn.glitch.global/c35fbd81-6c42-4a23-a8c2-6b775476ebfa/city-night-skyline-stockcake.webp?v=1736269259374");
  background-size: 400px;
  border-radius: 30px;
  border: 6px solid rgb(0, 169, 255);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

